
li {
    list-style: none;
}

.header{
    background-image: linear-gradient(to right, rgb(53, 4, 53), white);
    border-bottom: 3px black;
}

.estudio{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
    font-size: 30px;
    text-shadow: 1px gold;
}

.barra{
    background-image: linear-gradient(to right, black, white);
}

.nav-color {
    color: white;
}